#jzg {
  width: 100%;
}
#jzg > img {
  width: 100%;
}
.culture {
  width: 100%;
}
.culture > div {
  width: 100%;
}
.culture > div > .linai1,
.culture > div .linai2,
.culture > div .linai3 {
  position: relative;
  float: left;
  text-align: center;
  margin: 0 8px 200px 0;
}
.culture > div > .linai1 > .intro,
.culture > div .linai2 > .intro,
.culture > div .linai3 > .intro {
  position: absolute;
  width: 90%;
  top: 150px;
  left: 5%;
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 10px solid #d82127;
}
.culture > div > .linai1 > .intro > p,
.culture > div .linai2 > .intro > p,
.culture > div .linai3 > .intro > p {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
}
.culture > div > .linai1 > .intro > h2,
.culture > div .linai2 > .intro > h2,
.culture > div .linai3 > .intro > h2 {
  width: 100%;
  font-size: 30px;
}
.culture > div > .linai3 {
  margin: 0;
}
#global {
  width: 100%;
}
#global > img {
  width: 100%;
}
#demo {
  width: 100%;
  background-color: #fff;
}
#demo img {
  width: 100%;
}
#demo > div > div > .intro {
  height: 200px;
  font-size: 14px;
  overflow: hidden;
}
#kj,
#cx {
  width: 100%;
}
#kj img,
#cx img {
  width: 100%;
}
