#product .tab-nav > li {
  cursor: pointer;
  float: left;
  margin: 0 10px;
  line-height: 40px;
  font-size: 14px;
}
#product .tab-nav > li.active {
  color: #d82127;
}
#product > div {
  margin-top: 60px;
  width: 100%;
  display: none;
}
#product > div img {
  width: 100%;
}
#product > div.active {
  display: block;
}
